@media (max-width:1900px) {
    #arenda{
        font-size: 55px;
    }
}

@media (max-width:1500px) {
    #arenda{
        font-size: 50px;
    }
}

@media (max-width:1900px) {
    #arenda1{
        font-size: 20px;
    }
}

@media (max-width:1500px) {
    #arenda1{
        font-size: 20px;
    }
}

@media (max-width:1800px) {
    #money{
        font-size: 50px;
    }
}




@media (max-width:1300px) {
    #arenda{
        font-size: 40px;
    }
}

@media (max-width:1000px) {
    #arenda{
        font-size: 35px;
    }
}

@media (max-width:1300px) {
    #arenda1{
        font-size: 15px;
    }
}

@media (max-width:1000px) {
    #arenda1{
        font-size: 10px;
    }
}

@media (max-width:1300px) {
    #money{
        font-size: 40px;
    }
}